name: Build & Release RPM

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  packages: write

jobs:
  build-rpm:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Extract version from tag
        id: version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Install RPM tools
        run: sudo apt-get update && sudo apt-get install -y rpm gnupg expect

      - name: Prepare build
        run: |
          VERSION=${{ steps.version.outputs.VERSION }}
          mkdir -p ~/rpmbuild/{BUILD,RPMS,SOURCES,SPECS,SRPMS}
          sed "s|^Version:.*|Version:        $VERSION|" cocker.spec > ~/rpmbuild/SPECS/cocker.spec
          mkdir -p temp-src/cocker-${VERSION}
          cp -r bin completions temp-src/cocker-${VERSION}/
          tar czf ~/rpmbuild/SOURCES/cocker-${VERSION}.tar.gz -C temp-src cocker-${VERSION}
          rm -rf temp-src

      - name: Package RPM and SRPM
        uses: xmidt-org/rpm-package-action@v1
        with:
          path: .
          spec: cocker.spec
          distro: rocky-8
          gpg-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-name: ${{ secrets.RPM_GPG_NAME}}

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          files: ${{ env.RPM_FILE }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ github.token }}
